<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493868318614-nc68n36qshv39rci2394lgor76vpje96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493868318614-nc68n36qshv39rci2394lgor76vpje96</string>
	<key>API_KEY</key>
	<string>AIzaSyDUGcTRVhM85VgmgMK00n15HwVzB_rdulI</string>
	<key>GCM_SENDER_ID</key>
	<string>493868318614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no3lcodes.socialDev</string>
	<key>PROJECT_ID</key>
	<string>social-devs-a8a50</string>
	<key>STORAGE_BUCKET</key>
	<string>social-devs-a8a50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493868318614:ios:f721b1f729ce93d51ba7b7</string>
</dict>
</plist>